In [1]:
import os
import numpy as np
import pandas as pd

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn import ensemble
from sklearn import model_selection

from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

In [2]:
# 弃掉不需要的列
def drop_col_not_req(df, cols):
    df.drop(cols, axis=1, inplace=True)


# 建立Fare Category
def fare_category(fare):
    if fare <= 4:
        return 'Very_Low_Fare'
    elif fare <= 10:
        return 'Low_Fare'
    elif fare <= 30:
        return 'Med_Fare'
    elif fare <= 45:
        return 'High_Fare'
    else:
        return 'Very_High_Fare'


# 建立PClass Fare Category
def pclass_fare_category(df, Pclass_1_mean_fare, Pclass_2_mean_fare, Pclass_3_mean_fare):
    if df['Pclass'] == 1:
        if df['Fare'] <= Pclass_1_mean_fare:
            return 'Pclass_1_Low_Fare'
        else:
            return 'Pclass_1_High_Fare'
    elif df['Pclass'] == 2:
        if df['Fare'] <= Pclass_2_mean_fare:
            return 'Pclass_2_Low_Fare'
        else:
            return 'Pclass_2_High_Fare'
    elif df['Pclass'] == 3:
        if df['Fare'] <= Pclass_3_mean_fare:
            return 'Pclass_3_Low_Fare'
        else:
            return 'Pclass_3_High_Fare'


# 建立Family Size Category
def family_size_category(family_size):
    if family_size <= 1:
        return 'Single'
    elif family_size <= 3:
        return 'Small_Family'
    else:
        return 'Large_Family'


# 建立Age_Group_category
def age_group_category(age):
    if age <= 1:
        return 'Baby'
    elif age <= 4:
        return 'Toddler'
    elif age <= 12:
        return 'Child'
    elif age <= 19:
        return 'Teenager'
    elif age <= 30:
        return 'Adult'
    elif age <= 50:
        return 'Middle_Aged'
    elif age < 60:
        return 'Senior_Citizen'
    else:
        return 'Old'


# 建立Name_Length_Category
def name_length_category(name_len):
    if name_len <= 19:
        return 'Very_Short_Name'
    elif name_len <= 28:
        return 'Short_Name'
    elif name_len <= 45:
        return 'Medium_Name'
    else:
        return 'Long_Name'

In [3]:
# 填充NaN值
# 使用GradientBoostingRegressor和LinearRegression来填充Age值
def fill_missing_age(missing_age_train, missing_age_test):
    missing_age_X_train = missing_age_train.drop(['Age'], axis=1)
    missing_age_Y_train = missing_age_train['Age']
    missing_age_X_test = missing_age_test.drop(['Age'], axis=1)

    gbm_reg = ensemble.GradientBoostingRegressor(random_state=42)
    gbm_reg_param_grid = {'n_estimators': [2000], 'max_depth': [3],'learning_rate': [0.01], 'max_features': [3]}
    gbm_reg_grid = model_selection.GridSearchCV(gbm_reg, gbm_reg_param_grid,cv=10, n_jobs=25, verbose=1,scoring='neg_mean_squared_error')
    gbm_reg_grid.fit(missing_age_X_train, missing_age_Y_train)
    print('Age feature Best GB Params:' + str(gbm_reg_grid.best_params_))
    print('Age feature Best GB Score:' + str(gbm_reg_grid.best_score_))
    print('GB Train Error for "Age" Feature Regressor:'+ str(gbm_reg_grid.score(missing_age_X_train, missing_age_Y_train)))
    missing_age_test['Age_GB'] = gbm_reg_grid.predict(missing_age_X_test)
    print(missing_age_test['Age_GB'][:4])

    lrf_reg = LinearRegression()
    lrf_reg_param_grid = {'fit_intercept': [True], 'normalize': [True]}
    lrf_reg_grid = model_selection.GridSearchCV(lrf_reg, lrf_reg_param_grid,cv=10, n_jobs=25, verbose=1,scoring='neg_mean_squared_error')
    lrf_reg_grid.fit(missing_age_X_train, missing_age_Y_train)
    print('Age feature Best LR Params:' + str(lrf_reg_grid.best_params_))
    print('Age feature Best LR Score:' + str(lrf_reg_grid.best_score_))
    print('LR Train Error for "Age" Feature Regressor' + str(lrf_reg_grid.score(missing_age_X_train, missing_age_Y_train)))

    missing_age_test['Age_LRF'] = lrf_reg_grid.predict(missing_age_X_test)
    print(missing_age_test['Age_LRF'][:4])

    print('shape1',missing_age_test['Age'].shape,missing_age_test[['Age_GB','Age_LRF']].mode(axis=1).shape)
    #missing_age_test['Age'] = missing_age_test[['Age_GB','Age_LRF']].mode(axis=1)
    missing_age_test['Age'] = np.mean([missing_age_test['Age_GB'],missing_age_test['Age_LRF']])
    print(missing_age_test['Age'][:4])
    drop_col_not_req(missing_age_test, ['Age_GB', 'Age_LRF'])

    return missing_age_test

In [4]:
# 筛选重要特征
def get_top_n_features(titanic_train_data_X, titanic_train_data_Y, top_n_features):
    # 随机森林
    rf_est = RandomForestClassifier(random_state=42)
    rf_param_grid = {'n_estimators': [500], 'min_samples_split': [2, 3], 'max_depth': [20]}
    rf_grid = model_selection.GridSearchCV(rf_est, rf_param_grid, n_jobs=25, cv=10, verbose=1)
    rf_grid.fit(titanic_train_data_X,titanic_train_data_Y)
    print('Top N Features Best RF Params:' + str(rf_grid.best_params_))
    print('Top N Features Best RF Score:' + str(rf_grid.best_score_))
    print('Top N Features RF Train Error:' + str(rf_grid.score(titanic_train_data_X, titanic_train_data_Y)))
    feature_imp_sorted_rf = pd.DataFrame({'feature': list(titanic_train_data_X), 
                            'importance': rf_grid.best_estimator_.feature_importances_}).sort_values('importance', ascending=False)
    features_top_n_rf = feature_imp_sorted_rf.head(top_n_features)['feature']
    print('Sample 25 Features from RF Classifier')
    print(str(features_top_n_rf[:25]))

    # AdaBoost
    ada_est = ensemble.AdaBoostClassifier(random_state=42)
    ada_param_grid = {'n_estimators': [500], 'learning_rate': [0.5, 0.6]}
    ada_grid = model_selection.GridSearchCV(ada_est, ada_param_grid, n_jobs=25, cv=10, verbose=1)
    ada_grid.fit(titanic_train_data_X, titanic_train_data_Y)
    print('Top N Features Best Ada Params:' + str(ada_grid.best_params_))
    print('Top N Features Best Ada Score:' + str(ada_grid.best_score_))
    print('Top N Features Ada Train Error:' + str(ada_grid.score(titanic_train_data_X, titanic_train_data_Y)))
    feature_imp_sorted_ada = pd.DataFrame({'feature': list(titanic_train_data_X),
                            'importance': ada_grid.best_estimator_.feature_importances_}).sort_values('importance', ascending=False)
    features_top_n_ada = feature_imp_sorted_ada.head(top_n_features)['feature']
    print('Sample 25 Feature from Ada Classifier:')
    print(str(features_top_n_ada[:25]))

    # ExtraTree
    et_est = ensemble.ExtraTreesClassifier(random_state=42)
    et_param_grid = {'n_estimators': [500], 'min_samples_split': [3, 4], 'max_depth': [15]}
    et_grid = model_selection.GridSearchCV(et_est, et_param_grid, n_jobs=25, cv=10, verbose=1)
    et_grid.fit(titanic_train_data_X, titanic_train_data_Y)
    print('Top N Features Best ET Params:' + str(et_grid.best_params_))
    print('Top N Features Best ET Score:' + str(et_grid.best_score_))
    print('Top N Features ET Train Error:' + str(et_grid.score(titanic_train_data_X, titanic_train_data_Y)))
    feature_imp_sorted_et = pd.DataFrame({'feature': list(titanic_train_data_X),
                            'importance': et_grid.best_estimator_.feature_importances_}).sort_values('importance', ascending=False)
    features_top_n_et = feature_imp_sorted_et.head(top_n_features)['feature']
    print('Sample 25 Features from ET Classifier:')
    print(str(features_top_n_et[:25]))

    # 融合以上三个模型
    features_top_n = pd.concat([features_top_n_rf, features_top_n_ada, features_top_n_et],ignore_index=True).drop_duplicates()

    return features_top_n

In [5]:
# 开始训练模型
train_data_org = pd.read_csv('train.csv')
test_data_org = pd.read_csv('test.csv')

# 将训练集和测试集合并
test_data_org['Survived'] = 0
combined_train_test = train_data_org.append(test_data_org)

D:\Users\WYG\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [6]:
# 特征工程

# 1. Embarked
# Embarkde中有两个NaN
if combined_train_test['Embarked'].isnull().sum() != 0:
    combined_train_test['Embarked'].fillna(combined_train_test['Embarked'].mode().iloc[0], inplace=True)

In [7]:
emb_dummies_df = pd.get_dummies(combined_train_test['Embarked'],
                                prefix=combined_train_test[['Embarked']].columns[0])
combined_train_test = pd.concat([combined_train_test, emb_dummies_df], axis=1)

In [8]:
# 2. Sex
sex_dummies_df = pd.get_dummies(combined_train_test['Sex'], prefix=combined_train_test[['Sex']].columns[0])
combined_train_test = pd.concat([combined_train_test, sex_dummies_df], axis=1)

In [9]:
# 3. Name
# Title
combined_train_test['Title'] = combined_train_test['Name'].str.extract('.+,(.+)', expand=False).str.extract('^(.+?)\.', expand=False).str.strip()
print(combined_train_test['Title'].groupby(by=combined_train_test['Title']).count().sort_values(ascending=False))

Title
Mr              757
Miss            260
Mrs             197
Master           61
Dr                8
Rev               8
Col               4
Ms                2
Mlle              2
Major             2
Don               1
Dona              1
the Countess      1
Jonkheer          1
Lady              1
Sir               1
Mme               1
Capt              1
Name: Title, dtype: int64

In [10]:
title_Dict = {}
title_Dict.update(dict.fromkeys(['Capt', 'Col', 'Major', 'Dr', 'Rev'], 'Officer'))
title_Dict.update(dict.fromkeys(['Jonkheer', 'Don', 'Sir', 'the Countess', 'Dona', 'Lady'], 'Royalty'))
title_Dict.update(dict.fromkeys(['Mme', 'Ms', 'Mrs'], 'Mrs'))
title_Dict.update(dict.fromkeys(['Mlle', 'Miss'], 'Miss'))
title_Dict.update(dict.fromkeys(['Mr'], 'Mr'))
title_Dict.update(dict.fromkeys(['Master'], 'Master'))

combined_train_test['Title'] = combined_train_test['Title'].map(title_Dict)
print(combined_train_test['Title'].groupby(by=combined_train_test['Title']).count().sort_values(ascending=False))

Title
Mr         757
Miss       262
Mrs        200
Master      61
Officer     23
Royalty      6
Name: Title, dtype: int64

In [11]:
title_dummies_df = pd.get_dummies(combined_train_test['Title'], prefix=combined_train_test[['Title']].columns[0])
combined_train_test = pd.concat([combined_train_test, title_dummies_df], axis=1)
print(combined_train_test)

Age        Cabin Embarked      Fare  \
0    22.0          NaN        S    7.2500
1    38.0          C85        C   71.2833
2    26.0          NaN        S    7.9250
3    35.0         C123        S   53.1000
4    35.0          NaN        S    8.0500
5     NaN          NaN        Q    8.4583
6    54.0          E46        S   51.8625
7     2.0          NaN        S   21.0750
8    27.0          NaN        S   11.1333
9    14.0          NaN        C   30.0708
10    4.0           G6        S   16.7000
11   58.0         C103        S   26.5500
12   20.0          NaN        S    8.0500
13   39.0          NaN        S   31.2750
14   14.0          NaN        S    7.8542
15   55.0          NaN        S   16.0000
16    2.0          NaN        Q   29.1250
17    NaN          NaN        S   13.0000
18   31.0          NaN        S   18.0000
19    NaN          NaN        C    7.2250
20   35.0          NaN        S   26.0000
21   34.0          D56        S   13.0000
22   15.0          NaN        Q    8.0292
23   28.0           A6        S   35.5000
24    8.0          NaN        S   21.0750
25   38.0          NaN        S   31.3875
26    NaN          NaN        C    7.2250
27   19.0  C23 C25 C27        S  263.0000
28    NaN          NaN        Q    7.8792
29    NaN          NaN        S    7.8958
..    ...          ...      ...       ...
388  21.0          NaN        Q    7.7500
389   6.0          NaN        S   21.0750
390  23.0          B24        S   93.5000
391  51.0          D28        S   39.4000
392  13.0          NaN        S   20.2500
393  47.0          NaN        S   10.5000
394  29.0          NaN        S   22.0250
395  18.0          C31        S   60.0000
396  24.0          NaN        Q    7.2500
397  48.0          B41        C   79.2000
398  22.0          NaN        S    7.7750
399  31.0          NaN        Q    7.7333
400  30.0           C7        S  164.8667
401  38.0          NaN        S   21.0000
402  22.0          NaN        C   59.4000
403  17.0          NaN        S   47.1000
404  43.0          D40        C   27.7208
405  20.0          D38        C   13.8625
406  23.0          NaN        S   10.5000
407  50.0          C80        C  211.5000
408   NaN          NaN        Q    7.7208
409   3.0          NaN        S   13.7750
410   NaN          NaN        Q    7.7500
411  37.0          C78        Q   90.0000
412  28.0          NaN        S    7.7750
413   NaN          NaN        S    8.0500
414  39.0         C105        C  108.9000
415  38.5          NaN        S    7.2500
416   NaN          NaN        S    8.0500
417   NaN          NaN        C   22.3583

                                                  Name  Parch  PassengerId  \
0                              Braund, Mr. Owen Harris      0            1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                               Heikkinen, Miss. Laina      0            3
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                             Allen, Mr. William Henry      0            5
5                                     Moran, Mr. James      0            6
6                              McCarthy, Mr. Timothy J      0            7
7                       Palsson, Master. Gosta Leonard      1            8
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      2            9
9                  Nasser, Mrs. Nicholas (Adele Achem)      0           10
10                     Sandstrom, Miss. Marguerite Rut      1           11
11                            Bonnell, Miss. Elizabeth      0           12
12                      Saundercock, Mr. William Henry      0           13
13                         Andersson, Mr. Anders Johan      5           14
14                Vestrom, Miss. Hulda Amanda Adolfina      0           15
15                    Hewlett, Mrs. (Mary D Kingcome)       0           16
16                                Rice, Master. Eugene      1           17
17                        Williams, Mr. Charles Eugene      0           18
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...      0           19
19                             Masselmani, Mrs. Fatima      0           20
20                                Fynney, Mr. Joseph J      0           21
21                               Beesley, Mr. Lawrence      0           22
22                         McGowan, Miss. Anna "Annie"      0           23
23                        Sloper, Mr. William Thompson      0           24
24                       Palsson, Miss. Torborg Danira      1           25
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...      5           26
26                             Emir, Mr. Farred Chehab      0           27
27                      Fortune, Mr. Charles Alexander      2           28
28                       O'Dwyer, Miss. Ellen "Nellie"      0           29
29                                 Todoroff, Mr. Lalio      0           30
..                                                 ...    ...          ...
388                               Canavan, Mr. Patrick      0         1280
389                        Palsson, Master. Paul Folke      1         1281
390                         Payne, Mr. Vivian Ponsonby      0         1282
391     Lines, Mrs. Ernest H (Elizabeth Lindsey James)      1         1283
392                      Abbott, Master. Eugene Joseph      2         1284
393                               Gilbert, Mr. William      0         1285
394                           Kink-Heilmann, Mr. Anton      1         1286
395     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)      0         1287
396                               Colbert, Mr. Patrick      0         1288
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...      1         1289
398                     Larsson-Rondberg, Mr. Edvard A      0         1290
399                           Conlon, Mr. Thomas Henry      0         1291
400                            Bonnell, Miss. Caroline      0         1292
401                                    Gale, Mr. Harry      0         1293
402                     Gibson, Miss. Dorothy Winifred      1         1294
403                             Carrau, Mr. Jose Pedro      0         1295
404                       Frauenthal, Mr. Isaac Gerald      0         1296
405       Nourney, Mr. Alfred (Baron von Drachstedt")"      0         1297
406                          Ware, Mr. William Jeffery      0         1298
407                         Widener, Mr. George Dunton      1         1299
408                    Riordan, Miss. Johanna Hannah""      0         1300
409                          Peacock, Miss. Treasteall      1         1301
410                             Naughton, Miss. Hannah      0         1302
411    Minahan, Mrs. William Edward (Lillian E Thorpe)      0         1303
412                     Henriksson, Miss. Jenny Lovisa      0         1304
413                                 Spector, Mr. Woolf      0         1305
414                       Oliva y Ocana, Dona. Fermina      0         1306
415                       Saether, Mr. Simon Sivertsen      0         1307
416                                Ware, Mr. Frederick      0         1308
417                           Peter, Master. Michael J      1         1309

     Pclass     Sex  SibSp  ...  Embarked_S Sex_female  Sex_male    Title  \
0         3    male      1  ...           1          0         1       Mr
1         1  female      1  ...           0          1         0      Mrs
2         3  female      0  ...           1          1         0     Miss
3         1  female      1  ...           1          1         0      Mrs
4         3    male      0  ...           1          0         1       Mr
5         3    male      0  ...           0          0         1       Mr
6         1    male      0  ...           1          0         1       Mr
7         3    male      3  ...           1          0         1   Master
8         3  female      0  ...           1          1         0      Mrs
9         2  female      1  ...           0          1         0      Mrs
10        3  female      1  ...           1          1         0     Miss
11        1  female      0  ...           1          1         0     Miss
12        3    male      0  ...           1          0         1       Mr
13        3    male      1  ...           1          0         1       Mr
14        3  female      0  ...           1          1         0     Miss
15        2  female      0  ...           1          1         0      Mrs
16        3    male      4  ...           0          0         1   Master
17        2    male      0  ...           1          0         1       Mr
18        3  female      1  ...           1          1         0      Mrs
19        3  female      0  ...           0          1         0      Mrs
20        2    male      0  ...           1          0         1       Mr
21        2    male      0  ...           1          0         1       Mr
22        3  female      0  ...           0          1         0     Miss
23        1    male      0  ...           1          0         1       Mr
24        3  female      3  ...           1          1         0     Miss
25        3  female      1  ...           1          1         0      Mrs
26        3    male      0  ...           0          0         1       Mr
27        1    male      3  ...           1          0         1       Mr
28        3  female      0  ...           0          1         0     Miss
29        3    male      0  ...           1          0         1       Mr
..      ...     ...    ...  ...         ...        ...       ...      ...
388       3    male      0  ...           0          0         1       Mr
389       3    male      3  ...           1          0         1   Master
390       1    male      0  ...           1          0         1       Mr
391       1  female      0  ...           1          1         0      Mrs
392       3    male      0  ...           1          0         1   Master
393       2    male      0  ...           1          0         1       Mr
394       3    male      3  ...           1          0         1       Mr
395       1  female      1  ...           1          1         0      Mrs
396       3    male      0  ...           0          0         1       Mr
397       1  female      1  ...           0          1         0      Mrs
398       3    male      0  ...           1          0         1       Mr
399       3    male      0  ...           0          0         1       Mr
400       1  female      0  ...           1          1         0     Miss
401       2    male      1  ...           1          0         1       Mr
402       1  female      0  ...           0          1         0     Miss
403       1    male      0  ...           1          0         1       Mr
404       1    male      1  ...           0          0         1       Mr
405       2    male      0  ...           0          0         1       Mr
406       2    male      1  ...           1          0         1       Mr
407       1    male      1  ...           0          0         1       Mr
408       3  female      0  ...           0          1         0     Miss
409       3  female      1  ...           1          1         0     Miss
410       3  female      0  ...           0          1         0     Miss
411       1  female      1  ...           0          1         0      Mrs
412       3  female      0  ...           1          1         0     Miss
413       3    male      0  ...           1          0         1       Mr
414       1  female      0  ...           0          1         0  Royalty
415       3    male      0  ...           1          0         1       Mr
416       3    male      0  ...           1          0         1       Mr
417       3    male      1  ...           0          0         1   Master

     Title_Master  Title_Miss  Title_Mr Title_Mrs  Title_Officer  \
0               0           0         1         0              0
1               0           0         0         1              0
2               0           1         0         0              0
3               0           0         0         1              0
4               0           0         1         0              0
5               0           0         1         0              0
6               0           0         1         0              0
7               1           0         0         0              0
8               0           0         0         1              0
9               0           0         0         1              0
10              0           1         0         0              0
11              0           1         0         0              0
12              0           0         1         0              0
13              0           0         1         0              0
14              0           1         0         0              0
15              0           0         0         1              0
16              1           0         0         0              0
17              0           0         1         0              0
18              0           0         0         1              0
19              0           0         0         1              0
20              0           0         1         0              0
21              0           0         1         0              0
22              0           1         0         0              0
23              0           0         1         0              0
24              0           1         0         0              0
25              0           0         0         1              0
26              0           0         1         0              0
27              0           0         1         0              0
28              0           1         0         0              0
29              0           0         1         0              0
..            ...         ...       ...       ...            ...
388             0           0         1         0              0
389             1           0         0         0              0
390             0           0         1         0              0
391             0           0         0         1              0
392             1           0         0         0              0
393             0           0         1         0              0
394             0           0         1         0              0
395             0           0         0         1              0
396             0           0         1         0              0
397             0           0         0         1              0
398             0           0         1         0              0
399             0           0         1         0              0
400             0           1         0         0              0
401             0           0         1         0              0
402             0           1         0         0              0
403             0           0         1         0              0
404             0           0         1         0              0
405             0           0         1         0              0
406             0           0         1         0              0
407             0           0         1         0              0
408             0           1         0         0              0
409             0           1         0         0              0
410             0           1         0         0              0
411             0           0         0         1              0
412             0           1         0         0              0
413             0           0         1         0              0
414             0           0         0         0              0
415             0           0         1         0              0
416             0           0         1         0              0
417             1           0         0         0              0

     Title_Royalty
0                0
1                0
2                0
3                0
4                0
5                0
6                0
7                0
8                0
9                0
10               0
11               0
12               0
13               0
14               0
15               0
16               0
17               0
18               0
19               0
20               0
21               0
22               0
23               0
24               0
25               0
26               0
27               0
28               0
29               0
..             ...
388              0
389              0
390              0
391              0
392              0
393              0
394              0
395              0
396              0
397              0
398              0
399              0
400              0
401              0
402              0
403              0
404              0
405              0
406              0
407              0
408              0
409              0
410              0
411              0
412              0
413              0
414              1
415              0
416              0
417              0

[1309 rows x 24 columns]

In [12]:
# Name Length
combined_train_test['Name_Length'] = combined_train_test['Name'].str.len()
combined_train_test['Name_length_Category'] = combined_train_test['Name_Length'].map(name_length_category)
print(combined_train_test['Name_length_Category'].groupby(by=combined_train_test['Name_length_Category']).count().sort_values(ascending=False))

le_name = LabelEncoder()
le_name.fit(np.array(['Very_Short_Name', 'Short_Name', 'Medium_Name', 'Long_Name']))
combined_train_test['Name_length_Category'] = le_name.transform(combined_train_test['Name_length_Category'])

print(combined_train_test[['Name_length_Category','Survived']].corr())
name_length_dummies_df = pd.get_dummies(combined_train_test['Name_length_Category'],
                                        prefix=combined_train_test[['Name_length_Category']].columns[0])
combined_train_test = pd.concat([combined_train_test, name_length_dummies_df], axis=1)
print(combined_train_test)

0000
396  24.0          NaN        Q    7.2500
397  48.0          B41        C   79.2000
398  22.0          NaN        S    7.7750
399  31.0          NaN        Q    7.7333
400  30.0           C7        S  164.8667
401  38.0          NaN        S   21.0000
402  22.0          NaN        C   59.4000
403  17.0          NaN        S   47.1000
404  43.0          D40        C   27.7208
405  20.0          D38        C   13.8625
406  23.0          NaN        S   10.5000
407  50.0          C80        C  211.5000
408   NaN          NaN        Q    7.7208
409   3.0          NaN        S   13.7750
410   NaN          NaN        Q    7.7500
411  37.0          C78        Q   90.0000
412  28.0          NaN        S    7.7750
413   NaN          NaN        S    8.0500
414  39.0         C105        C  108.9000
415  38.5          NaN        S    7.2500
416   NaN          NaN        S    8.0500
417   NaN          NaN        C   22.3583

                                                  Name  Parch  PassengerId  \
0                              Braund, Mr. Owen Harris      0            1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                               Heikkinen, Miss. Laina      0            3
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                             Allen, Mr. William Henry      0            5
5                                     Moran, Mr. James      0            6
6                              McCarthy, Mr. Timothy J      0            7
7                       Palsson, Master. Gosta Leonard      1            8
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)      2            9
9                  Nasser, Mrs. Nicholas (Adele Achem)      0           10
10                     Sandstrom, Miss. Marguerite Rut      1           11
11                            Bonnell, Miss. Elizabeth      0           12
12                      Saundercock, Mr. William Henry      0           13
13                         Andersson, Mr. Anders Johan      5           14
14                Vestrom, Miss. Hulda Amanda Adolfina      0           15
15                    Hewlett, Mrs. (Mary D Kingcome)       0           16
16                                Rice, Master. Eugene      1           17
17                        Williams, Mr. Charles Eugene      0           18
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...      0           19
19                             Masselmani, Mrs. Fatima      0           20
20                                Fynney, Mr. Joseph J      0           21
21                               Beesley, Mr. Lawrence      0           22
22                         McGowan, Miss. Anna "Annie"      0           23
23                        Sloper, Mr. William Thompson      0           24
24                       Palsson, Miss. Torborg Danira      1           25
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...      5           26
26                             Emir, Mr. Farred Chehab      0           27
27                      Fortune, Mr. Charles Alexander      2           28
28                       O'Dwyer, Miss. Ellen "Nellie"      0           29
29                                 Todoroff, Mr. Lalio      0           30
..                                                 ...    ...          ...
388                               Canavan, Mr. Patrick      0         1280
389                        Palsson, Master. Paul Folke      1         1281
390                         Payne, Mr. Vivian Ponsonby      0         1282
391     Lines, Mrs. Ernest H (Elizabeth Lindsey James)      1         1283
392                      Abbott, Master. Eugene Joseph      2         1284
393                               Gilbert, Mr. William      0         1285
394                           Kink-Heilmann, Mr. Anton      1         1286
395     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)      0         1287
396                               Colbert, Mr. Patrick      0         1288
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...      1         1289
398                     Larsson-Rondberg, Mr. Edvard A      0         1290
399                           Conlon, Mr. Thomas Henry      0         1291
400                            Bonnell, Miss. Caroline      0         1292
401                                    Gale, Mr. Harry      0         1293
402                     Gibson, Miss. Dorothy Winifred      1         1294
403                             Carrau, Mr. Jose Pedro      0         1295
404                       Frauenthal, Mr. Isaac Gerald      0         1296
405       Nourney, Mr. Alfred (Baron von Drachstedt")"      0         1297
406                          Ware, Mr. William Jeffery      0         1298
407                         Widener, Mr. George Dunton      1         1299
408                    Riordan, Miss. Johanna Hannah""      0         1300
409                          Peacock, Miss. Treasteall      1         1301
410                             Naughton, Miss. Hannah      0         1302
411    Minahan, Mrs. William Edward (Lillian E Thorpe)      0         1303
412                     Henriksson, Miss. Jenny Lovisa      0         1304
413                                 Spector, Mr. Woolf      0         1305
414                       Oliva y Ocana, Dona. Fermina      0         1306
415                       Saether, Mr. Simon Sivertsen      0         1307
416                                Ware, Mr. Frederick      0         1308
417                           Peter, Master. Michael J      1         1309

     Pclass     Sex  SibSp  ...  Title_Mr Title_Mrs  Title_Officer  \
0         3    male      1  ...         1         0              0
1         1  female      1  ...         0         1              0
2         3  female      0  ...         0         0              0
3         1  female      1  ...         0         1              0
4         3    male      0  ...         1         0              0
5         3    male      0  ...         1         0              0
6         1    male      0  ...         1         0              0
7         3    male      3  ...         0         0              0
8         3  female      0  ...         0         1              0
9         2  female      1  ...         0         1              0
10        3  female      1  ...         0         0              0
11        1  female      0  ...         0         0              0
12        3    male      0  ...         1         0              0
13        3    male      1  ...         1         0              0
14        3  female      0  ...         0         0              0
15        2  female      0  ...         0         1              0
16        3    male      4  ...         0         0              0
17        2    male      0  ...         1         0              0
18        3  female      1  ...         0         1              0
19        3  female      0  ...         0         1              0
20        2    male      0  ...         1         0              0
21        2    male      0  ...         1         0              0
22        3  female      0  ...         0         0              0
23        1    male      0  ...         1         0              0
24        3  female      3  ...         0         0              0
25        3  female      1  ...         0         1              0
26        3    male      0  ...         1         0              0
27        1    male      3  ...         1         0              0
28        3  female      0  ...         0         0              0
29        3    male      0  ...         1         0              0
..      ...     ...    ...  ...       ...       ...            ...
388       3    male      0  ...         1         0              0
389       3    male      3  ...         0         0              0
390       1    male      0  ...         1         0              0
391       1  female      0  ...         0         1              0
392       3    male      0  ...         0         0              0
393       2    male      0  ...         1         0              0
394       3    male      3  ...         1         0              0
395       1  female      1  ...         0         1              0
396       3    male      0  ...         1         0              0
397       1  female      1  ...         0         1              0
398       3    male      0  ...         1         0              0
399       3    male      0  ...         1         0              0
400       1  female      0  ...         0         0              0
401       2    male      1  ...         1         0              0
402       1  female      0  ...         0         0              0
403       1    male      0  ...         1         0              0
404       1    male      1  ...         1         0              0
405       2    male      0  ...         1         0              0
406       2    male      1  ...         1         0              0
407       1    male      1  ...         1         0              0
408       3  female      0  ...         0         0              0
409       3  female      1  ...         0         0              0
410       3  female      0  ...         0         0              0
411       1  female      1  ...         0         1              0
412       3  female      0  ...         0         0              0
413       3    male      0  ...         1         0              0
414       1  female      0  ...         0         0              0
415       3    male      0  ...         1         0              0
416       3    male      0  ...         1         0              0
417       3    male      1  ...         0         0              0

     Title_Royalty  Name_Length  Name_length_Category  Name_length_Category_0  \
0                0           23                     2                       0
1                0           51                     0                       1
2                0           22                     2                       0
3                0           44                     1                       0
4                0           24                     2                       0
5                0           16                     3                       0
6                0           23                     2                       0
7                0           30                     1                       0
8                0           49                     0                       1
9                0           35                     1                       0
10               0           31                     1                       0
11               0           24                     2                       0
12               0           30                     1                       0
13               0           27                     2                       0
14               0           36                     1                       0
15               0           32                     1                       0
16               0           20                     2                       0
17               0           28                     2                       0
18               0           55                     0                       1
19               0           23                     2                       0
20               0           20                     2                       0
21               0           21                     2                       0
22               0           27                     2                       0
23               0           28                     2                       0
24               0           29                     1                       0
25               0           57                     0                       1
26               0           23                     2                       0
27               0           30                     1                       0
28               0           29                     1                       0
29               0           19                     3                       0
..             ...          ...                   ...                     ...
388              0           20                     2                       0
389              0           27                     2                       0
390              0           26                     2                       0
391              0           46                     0                       1
392              0           29                     1                       0
393              0           20                     2                       0
394              0           24                     2                       0
395              0           46                     0                       1
396              0           20                     2                       0
397              0           63                     0                       1
398              0           30                     1                       0
399              0           24                     2                       0
400              0           23                     2                       0
401              0           15                     3                       0
402              0           30                     1                       0
403              0           22                     2                       0
404              0           28                     2                       0
405              0           44                     1                       0
406              0           25                     2                       0
407              0           26                     2                       0
408              0           31                     1                       0
409              0           25                     2                       0
410              0           22                     2                       0
411              0           47                     0                       1
412              0           30                     1                       0
413              0           18                     3                       0
414              1           28                     2                       0
415              0           28                     2                       0
416              0           19                     3                       0
417              0           24                     2                       0

    Name_length_Category_1  Name_length_Category_2  Name_length_Category_3
0                        0                       1                       0
1                        0                       0                       0
2                        0                       1                       0
3                        1                       0                       0
4                        0                       1                       0
5                        0                       0                       1
6                        0                       1                       0
7                        1                       0                       0
8                        0                       0                       0
9                        1                       0                       0
10                       1                       0                       0
11                       0                       1                       0
12                       1                       0                       0
13                       0                       1                       0
14                       1                       0                       0
15                       1                       0                       0
16                       0                       1                       0
17                       0                       1                       0
18                       0                       0                       0
19                       0                       1                       0
20                       0                       1                       0
21                       0                       1                       0
22                       0                       1                       0
23                       0                       1                       0
24                       1                       0                       0
25                       0                       0                       0
26                       0                       1                       0
27                       1                       0                       0
28                       1                       0                       0
29                       0                       0                       1
..                     ...                     ...                     ...
388                      0                       1                       0
389                      0                       1                       0
390                      0                       1                       0
391                      0                       0                       0
392                      1                       0                       0
393                      0                       1                       0
394                      0                       1                       0
395                      0                       0                       0
396                      0                       1                       0
397                      0                       0                       0
398                      1                       0                       0
399                      0                       1                       0
400                      0                       1                       0
401                      0                       0                       1
402                      1                       0                       0
403                      0                       1                       0
404                      0                       1                       0
405                      1                       0                       0
406                      0                       1                       0
407                      0                       1                       0
408                      1                       0                       0
409                      0                       1                       0
410                      0                       1                       0
411                      0                       0                       0
412                      1                       0                       0
413                      0                       0                       1
414                      0                       1                       0
415                      0                       1                       0
416                      0                       0                       1
417                      0                       1                       0

[1309 rows x 30 columns]

In [13]:
# First Name
combined_train_test['First_Name'] = combined_train_test['Name'].str.extract('^(.+?),', expand=False).str.strip()
first_name_dummies_df = pd.get_dummies(combined_train_test['First_Name'],
                                        prefix=combined_train_test[['First_Name']].columns[0])
combined_train_test = pd.concat([combined_train_test, first_name_dummies_df], axis=1)
print(combined_train_test)

 ...          ...
388                               Canavan, Mr. Patrick      0         1280
389                        Palsson, Master. Paul Folke      1         1281
390                         Payne, Mr. Vivian Ponsonby      0         1282
391     Lines, Mrs. Ernest H (Elizabeth Lindsey James)      1         1283
392                      Abbott, Master. Eugene Joseph      2         1284
393                               Gilbert, Mr. William      0         1285
394                           Kink-Heilmann, Mr. Anton      1         1286
395     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)      0         1287
396                               Colbert, Mr. Patrick      0         1288
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...      1         1289
398                     Larsson-Rondberg, Mr. Edvard A      0         1290
399                           Conlon, Mr. Thomas Henry      0         1291
400                            Bonnell, Miss. Caroline      0         1292
401                                    Gale, Mr. Harry      0         1293
402                     Gibson, Miss. Dorothy Winifred      1         1294
403                             Carrau, Mr. Jose Pedro      0         1295
404                       Frauenthal, Mr. Isaac Gerald      0         1296
405       Nourney, Mr. Alfred (Baron von Drachstedt")"      0         1297
406                          Ware, Mr. William Jeffery      0         1298
407                         Widener, Mr. George Dunton      1         1299
408                    Riordan, Miss. Johanna Hannah""      0         1300
409                          Peacock, Miss. Treasteall      1         1301
410                             Naughton, Miss. Hannah      0         1302
411    Minahan, Mrs. William Edward (Lillian E Thorpe)      0         1303
412                     Henriksson, Miss. Jenny Lovisa      0         1304
413                                 Spector, Mr. Woolf      0         1305
414                       Oliva y Ocana, Dona. Fermina      0         1306
415                       Saether, Mr. Simon Sivertsen      0         1307
416                                Ware, Mr. Frederick      0         1308
417                           Peter, Master. Michael J      1         1309

     Pclass     Sex  SibSp  ...  First_Name_Zabour First_Name_Zakarian  \
0         3    male      1  ...                  0                   0
1         1  female      1  ...                  0                   0
2         3  female      0  ...                  0                   0
3         1  female      1  ...                  0                   0
4         3    male      0  ...                  0                   0
5         3    male      0  ...                  0                   0
6         1    male      0  ...                  0                   0
7         3    male      3  ...                  0                   0
8         3  female      0  ...                  0                   0
9         2  female      1  ...                  0                   0
10        3  female      1  ...                  0                   0
11        1  female      0  ...                  0                   0
12        3    male      0  ...                  0                   0
13        3    male      1  ...                  0                   0
14        3  female      0  ...                  0                   0
15        2  female      0  ...                  0                   0
16        3    male      4  ...                  0                   0
17        2    male      0  ...                  0                   0
18        3  female      1  ...                  0                   0
19        3  female      0  ...                  0                   0
20        2    male      0  ...                  0                   0
21        2    male      0  ...                  0                   0
22        3  female      0  ...                  0                   0
23        1    male      0  ...                  0                   0
24        3  female      3  ...                  0                   0
25        3  female      1  ...                  0                   0
26        3    male      0  ...                  0                   0
27        1    male      3  ...                  0                   0
28        3  female      0  ...                  0                   0
29        3    male      0  ...                  0                   0
..      ...     ...    ...  ...                ...                 ...
388       3    male      0  ...                  0                   0
389       3    male      3  ...                  0                   0
390       1    male      0  ...                  0                   0
391       1  female      0  ...                  0                   0
392       3    male      0  ...                  0                   0
393       2    male      0  ...                  0                   0
394       3    male      3  ...                  0                   0
395       1  female      1  ...                  0                   0
396       3    male      0  ...                  0                   0
397       1  female      1  ...                  0                   0
398       3    male      0  ...                  0                   0
399       3    male      0  ...                  0                   0
400       1  female      0  ...                  0                   0
401       2    male      1  ...                  0                   0
402       1  female      0  ...                  0                   0
403       1    male      0  ...                  0                   0
404       1    male      1  ...                  0                   0
405       2    male      0  ...                  0                   0
406       2    male      1  ...                  0                   0
407       1    male      1  ...                  0                   0
408       3  female      0  ...                  0                   0
409       3  female      1  ...                  0                   0
410       3  female      0  ...                  0                   0
411       1  female      1  ...                  0                   0
412       3  female      0  ...                  0                   0
413       3    male      0  ...                  0                   0
414       1  female      0  ...                  0                   0
415       3    male      0  ...                  0                   0
416       3    male      0  ...                  0                   0
417       3    male      1  ...                  0                   0

     First_Name_Zimmerman  First_Name_de Brito  First_Name_de Messemaeker  \
0                       0                    0                          0
1                       0                    0                          0
2                       0                    0                          0
3                       0                    0                          0
4                       0                    0                          0
5                       0                    0                          0
6                       0                    0                          0
7                       0                    0                          0
8                       0                    0                          0
9                       0                    0                          0
10                      0                    0                          0
11                      0                    0                          0
12                      0                    0                          0
13                      0                    0                          0
14                      0                    0                          0
15                      0                    0                          0
16                      0                    0                          0
17                      0                    0                          0
18                      0                    0                          0
19                      0                    0                          0
20                      0                    0                          0
21                      0                    0                          0
22                      0                    0                          0
23                      0                    0                          0
24                      0                    0                          0
25                      0                    0                          0
26                      0                    0                          0
27                      0                    0                          0
28                      0                    0                          0
29                      0                    0                          0
..                    ...                  ...                        ...
388                     0                    0                          0
389                     0                    0                          0
390                     0                    0                          0
391                     0                    0                          0
392                     0                    0                          0
393                     0                    0                          0
394                     0                    0                          0
395                     0                    0                          0
396                     0                    0                          0
397                     0                    0                          0
398                     0                    0                          0
399                     0                    0                          0
400                     0                    0                          0
401                     0                    0                          0
402                     0                    0                          0
403                     0                    0                          0
404                     0                    0                          0
405                     0                    0                          0
406                     0                    0                          0
407                     0                    0                          0
408                     0                    0                          0
409                     0                    0                          0
410                     0                    0                          0
411                     0                    0                          0
412                     0                    0                          0
413                     0                    0                          0
414                     0                    0                          0
415                     0                    0                          0
416                     0                    0                          0
417                     0                    0                          0

     First_Name_de Mulder  First_Name_de Pelsmaeker First_Name_del Carlo  \
0                       0                         0                    0
1                       0                         0                    0
2                       0                         0                    0
3                       0                         0                    0
4                       0                         0                    0
5                       0                         0                    0
6                       0                         0                    0
7                       0                         0                    0
8                       0                         0                    0
9                       0                         0                    0
10                      0                         0                    0
11                      0                         0                    0
12                      0                         0                    0
13                      0                         0                    0
14                      0                         0                    0
15                      0                         0                    0
16                      0                         0                    0
17                      0                         0                    0
18                      0                         0                    0
19                      0                         0                    0
20                      0                         0                    0
21                      0                         0                    0
22                      0                         0                    0
23                      0                         0                    0
24                      0                         0                    0
25                      0                         0                    0
26                      0                         0                    0
27                      0                         0                    0
28                      0                         0                    0
29                      0                         0                    0
..                    ...                       ...                  ...
388                     0                         0                    0
389                     0                         0                    0
390                     0                         0                    0
391                     0                         0                    0
392                     0                         0                    0
393                     0                         0                    0
394                     0                         0                    0
395                     0                         0                    0
396                     0                         0                    0
397                     0                         0                    0
398                     0                         0                    0
399                     0                         0                    0
400                     0                         0                    0
401                     0                         0                    0
402                     0                         0                    0
403                     0                         0                    0
404                     0                         0                    0
405                     0                         0                    0
406                     0                         0                    0
407                     0                         0                    0
408                     0                         0                    0
409                     0                         0                    0
410                     0                         0                    0
411                     0                         0                    0
412                     0                         0                    0
413                     0                         0                    0
414                     0                         0                    0
415                     0                         0                    0
416                     0                         0                    0
417                     0                         0                    0

     First_Name_van Billiard  First_Name_van Melkebeke
0                          0                         0
1                          0                         0
2                          0                         0
3                          0                         0
4                          0                         0
5                          0                         0
6                          0                         0
7                          0                         0
8                          0                         0
9                          0                         0
10                         0                         0
11                         0                         0
12                         0                         0
13                         0                         0
14                         0                         0
15                         0                         0
16                         0                         0
17                         0                         0
18                         0                         0
19                         0                         0
20                         0                         0
21                         0                         0
22                         0                         0
23                         0                         0
24                         0                         0
25                         0                         0
26                         0                         0
27                         0                         0
28                         0                         0
29                         0                         0
..                       ...                       ...
388                        0                         0
389                        0                         0
390                        0                         0
391                        0                         0
392                        0                         0
393                        0                         0
394                        0                         0
395                        0                         0
396                        0                         0
397                        0                         0
398                        0                         0
399                        0                         0
400                        0                         0
401                        0                         0
402                        0                         0
403                        0                         0
404                        0                         0
405                        0                         0
406                        0                         0
407                        0                         0
408                        0                         0
409                        0                         0
410                        0                         0
411                        0                         0
412                        0                         0
413                        0                         0
414                        0                         0
415                        0                         0
416                        0                         0
417                        0                         0

[1309 rows x 906 columns]

In [14]:
# Last_Name
combined_train_test['Last_Name'] = combined_train_test['Name'].str.split('\.').str[1].str.strip()
combined_train_test['Last_Name'] = combined_train_test['Last_Name'].str.strip('\([^)]*\)')
combined_train_test['Last_Name'].fillna(combined_train_test['Name'].str.split('\.').str[1].str.strip())
print(combined_train_test['Last_Name'].groupby(by = combined_train_test['Last_Name']).count().sort_values(ascending = False)[:5])
last_name_dummies_df = pd.get_dummies(combined_train_test['Last_Name'],
                                        prefix=combined_train_test[['Last_Name']].columns[0])
combined_train_test = pd.concat([combined_train_test, last_name_dummies_df], axis=1)

print(combined_train_test)

edro      0         1295
404                       Frauenthal, Mr. Isaac Gerald      0         1296
405       Nourney, Mr. Alfred (Baron von Drachstedt")"      0         1297
406                          Ware, Mr. William Jeffery      0         1298
407                         Widener, Mr. George Dunton      1         1299
408                    Riordan, Miss. Johanna Hannah""      0         1300
409                          Peacock, Miss. Treasteall      1         1301
410                             Naughton, Miss. Hannah      0         1302
411    Minahan, Mrs. William Edward (Lillian E Thorpe)      0         1303
412                     Henriksson, Miss. Jenny Lovisa      0         1304
413                                 Spector, Mr. Woolf      0         1305
414                       Oliva y Ocana, Dona. Fermina      0         1306
415                       Saether, Mr. Simon Sivertsen      0         1307
416                                Ware, Mr. Frederick      0         1308
417                           Peter, Master. Michael J      1         1309

     Pclass     Sex  SibSp  ...  Last_Name_William Thompson (Edith Junkins  \
0         3    male      1  ...                                          0
1         1  female      1  ...                                          0
2         3  female      0  ...                                          0
3         1  female      1  ...                                          0
4         3    male      0  ...                                          0
5         3    male      0  ...                                          0
6         1    male      0  ...                                          0
7         3    male      3  ...                                          0
8         3  female      0  ...                                          0
9         2  female      1  ...                                          0
10        3  female      1  ...                                          0
11        1  female      0  ...                                          0
12        3    male      0  ...                                          0
13        3    male      1  ...                                          0
14        3  female      0  ...                                          0
15        2  female      0  ...                                          0
16        3    male      4  ...                                          0
17        2    male      0  ...                                          0
18        3  female      1  ...                                          0
19        3  female      0  ...                                          0
20        2    male      0  ...                                          0
21        2    male      0  ...                                          0
22        3  female      0  ...                                          0
23        1    male      0  ...                                          0
24        3  female      3  ...                                          0
25        3  female      1  ...                                          0
26        3    male      0  ...                                          0
27        1    male      3  ...                                          0
28        3  female      0  ...                                          0
29        3    male      0  ...                                          0
..      ...     ...    ...  ...                                        ...
388       3    male      0  ...                                          0
389       3    male      3  ...                                          0
390       1    male      0  ...                                          0
391       1  female      0  ...                                          0
392       3    male      0  ...                                          0
393       2    male      0  ...                                          0
394       3    male      3  ...                                          0
395       1  female      1  ...                                          0
396       3    male      0  ...                                          0
397       1  female      1  ...                                          0
398       3    male      0  ...                                          0
399       3    male      0  ...                                          0
400       1  female      0  ...                                          0
401       2    male      1  ...                                          0
402       1  female      0  ...                                          0
403       1    male      0  ...                                          0
404       1    male      1  ...                                          0
405       2    male      0  ...                                          0
406       2    male      1  ...                                          0
407       1    male      1  ...                                          0
408       3  female      0  ...                                          0
409       3  female      1  ...                                          0
410       3  female      0  ...                                          0
411       1  female      1  ...                                          0
412       3  female      0  ...                                          0
413       3    male      0  ...                                          0
414       1  female      0  ...                                          0
415       3    male      0  ...                                          0
416       3    male      0  ...                                          0
417       3    male      1  ...                                          0

    Last_Name_William Thornton II  Last_Name_Winifred Vera  Last_Name_Woolf  \
0                               0                        0                0
1                               0                        0                0
2                               0                        0                0
3                               0                        0                0
4                               0                        0                0
5                               0                        0                0
6                               0                        0                0
7                               0                        0                0
8                               0                        0                0
9                               0                        0                0
10                              0                        0                0
11                              0                        0                0
12                              0                        0                0
13                              0                        0                0
14                              0                        0                0
15                              0                        0                0
16                              0                        0                0
17                              0                        0                0
18                              0                        0                0
19                              0                        0                0
20                              0                        0                0
21                              0                        0                0
22                              0                        0                0
23                              0                        0                0
24                              0                        0                0
25                              0                        0                0
26                              0                        0                0
27                              0                        0                0
28                              0                        0                0
29                              0                        0                0
..                            ...                      ...              ...
388                             0                        0                0
389                             0                        0                0
390                             0                        0                0
391                             0                        0                0
392                             0                        0                0
393                             0                        0                0
394                             0                        0                0
395                             0                        0                0
396                             0                        0                0
397                             0                        0                0
398                             0                        0                0
399                             0                        0                0
400                             0                        0                0
401                             0                        0                0
402                             0                        0                0
403                             0                        0                0
404                             0                        0                0
405                             0                        0                0
406                             0                        0                0
407                             0                        0                0
408                             0                        0                0
409                             0                        0                0
410                             0                        0                0
411                             0                        0                0
412                             0                        0                0
413                             0                        0                1
414                             0                        0                0
415                             0                        0                0
416                             0                        0                0
417                             0                        0                0

     Last_Name_Wyckoff  Last_Name_Ylio  Last_Name_Yoto Last_Name_Youssef  \
0                    0               0               0                 0
1                    0               0               0                 0
2                    0               0               0                 0
3                    0               0               0                 0
4                    0               0               0                 0
5                    0               0               0                 0
6                    0               0               0                 0
7                    0               0               0                 0
8                    0               0               0                 0
9                    0               0               0                 0
10                   0               0               0                 0
11                   0               0               0                 0
12                   0               0               0                 0
13                   0               0               0                 0
14                   0               0               0                 0
15                   0               0               0                 0
16                   0               0               0                 0
17                   0               0               0                 0
18                   0               0               0                 0
19                   0               0               0                 0
20                   0               0               0                 0
21                   0               0               0                 0
22                   0               0               0                 0
23                   0               0               0                 0
24                   0               0               0                 0
25                   0               0               0                 0
26                   0               0               0                 0
27                   0               0               0                 0
28                   0               0               0                 0
29                   0               0               0                 0
..                 ...             ...             ...               ...
388                  0               0               0                 0
389                  0               0               0                 0
390                  0               0               0                 0
391                  0               0               0                 0
392                  0               0               0                 0
393                  0               0               0                 0
394                  0               0               0                 0
395                  0               0               0                 0
396                  0               0               0                 0
397                  0               0               0                 0
398                  0               0               0                 0
399                  0               0               0                 0
400                  0               0               0                 0
401                  0               0               0                 0
402                  0               0               0                 0
403                  0               0               0                 0
404                  0               0               0                 0
405                  0               0               0                 0
406                  0               0               0                 0
407                  0               0               0                 0
408                  0               0               0                 0
409                  0               0               0                 0
410                  0               0               0                 0
411                  0               0               0                 0
412                  0               0               0                 0
413                  0               0               0                 0
414                  0               0               0                 0
415                  0               0               0                 0
416                  0               0               0                 0
417                  0               0               0                 0

     Last_Name_Yousseff  Last_Name_of (Lucy Noel Martha Dyer-Edwards
0                     0                                            0
1                     0                                            0
2                     0                                            0
3                     0                                            0
4                     0                                            0
5                     0                                            0
6                     0                                            0
7                     0                                            0
8                     0                                            0
9                     0                                            0
10                    0                                            0
11                    0                                            0
12                    0                                            0
13                    0                                            0
14                    0                                            0
15                    0                                            0
16                    0                                            0
17                    0                                            0
18                    0                                            0
19                    0                                            0
20                    0                                            0
21                    0                                            0
22                    0                                            0
23                    0                                            0
24                    0                                            0
25                    0                                            0
26                    0                                            0
27                    0                                            0
28                    0                                            0
29                    0                                            0
..                  ...                                          ...
388                   0                                            0
389                   0                                            0
390                   0                                            0
391                   0                                            0
392                   0                                            0
393                   0                                            0
394                   0                                            0
395                   0                                            0
396                   0                                            0
397                   0                                            0
398                   0                                            0
399                   0                                            0
400                   0                                            0
401                   0                                            0
402                   0                                            0
403                   0                                            0
404                   0                                            0
405                   0                                            0
406                   0                                            0
407                   0                                            0
408                   0                                            0
409                   0                                            0
410                   0                                            0
411                   0                                            0
412                   0                                            0
413                   0                                            0
414                   0                                            0
415                   0                                            0
416                   0                                            0
417                   0                                            0

[1309 rows x 2032 columns]

In [15]:
# Original_Name
combined_train_test['Original_Name'] = combined_train_test['Name'].str.split('\((.*?)\)').str[1].str.strip(
    '\"').str.strip()
print(combined_train_test['Original_Name'].groupby(by = combined_train_test['Original_Name']).count().sort_values(ascending = False)[:5])
original_name_dummies_df = pd.get_dummies(combined_train_test['Original_Name'],
                                            prefix=combined_train_test[['Original_Name']].columns[0])
combined_train_test = pd.concat([combined_train_test, original_name_dummies_df], axis=1)

Original_Name
Mary                          2
Emma                          2
Emelia Maria Vandemoortele    1
Ellen Truelove Arman          1
Ellen Needs                   1
Name: Original_Name, dtype: int64

In [16]:
# 4. Fare
# 填充NaN
if combined_train_test['Fare'].isnull().sum() != 0:
    combined_train_test['Fare'] = combined_train_test[['Fare']].fillna(
        combined_train_test.groupby('Pclass').transform('mean'))

In [17]:
# 将多人船票的价格平均到每人
combined_train_test['Group_Ticket'] = combined_train_test['Fare'].groupby(
    by=combined_train_test['Ticket']).transform('count')
combined_train_test['Fare'] = combined_train_test['Fare'] / combined_train_test['Group_Ticket']
combined_train_test.drop(['Group_Ticket'], axis=1, inplace=True)

In [18]:
# 去除Fare为0的项
if sum(n == 0 for n in combined_train_test.Fare.values.flatten()) > 0:
    combined_train_test.loc[combined_train_test.Fare == 0, 'Fare'] = np.nan
    combined_train_test['Fare'] = combined_train_test[['Fare']].fillna(
        combined_train_test.groupby('Pclass').transform('mean'))
print(combined_train_test['Fare'].describe())

count    1309.000000
mean       15.017884
std        13.529548
min         3.170800
25%         7.666667
50%         8.300000
75%        15.050000
max       128.082300
Name: Fare, dtype: float64

In [19]:
# 建立Fare Category
combined_train_test['Fare_Category'] = combined_train_test['Fare'].map(fare_category)
le_fare = LabelEncoder()
le_fare.fit(np.array(['Very_Low_Fare', 'Low_Fare', 'Med_Fare', 'High_Fare', 'Very_High_Fare']))
combined_train_test['Fare_Category'] = le_fare.transform(combined_train_test['Fare_Category'])

In [20]:
fare_cat_dummies_df = pd.get_dummies(combined_train_test['Fare_Category'],
                                        prefix=combined_train_test[['Fare_Category']].columns[0])
combined_train_test = pd.concat([combined_train_test, fare_cat_dummies_df], axis=1)
print(combined_train_test['Fare_Category'].groupby(by = combined_train_test['Fare_Category']).count().sort_values(ascending = False))

Fare_Category
1    745
2    408
0    112
3     40
4      4
Name: Fare_Category, dtype: int64

In [21]:
# 5. Pclass
print(combined_train_test['Fare'].groupby(by = combined_train_test['Pclass']).mean())
Pclass_1_mean_fare = combined_train_test['Fare'].groupby(by=combined_train_test['Pclass']).mean().get([1]).values[0]
Pclass_2_mean_fare = combined_train_test['Fare'].groupby(by=combined_train_test['Pclass']).mean().get([2]).values[0]
Pclass_3_mean_fare = combined_train_test['Fare'].groupby(by=combined_train_test['Pclass']).mean().get([3]).values[0]
# 建立Pclass_Fare Category
combined_train_test['Pclass_Fare_Category'] = combined_train_test.apply(pclass_fare_category, args=(
Pclass_1_mean_fare, Pclass_2_mean_fare, Pclass_3_mean_fare), axis=1)
print(combined_train_test['Pclass_Fare_Category'].groupby(by = combined_train_test['Pclass_Fare_Category']).count().sort_values(ascending = False))
p_fare = LabelEncoder()
p_fare.fit(np.array(
    ['Pclass_1_Low_Fare', 'Pclass_1_High_Fare', 'Pclass_2_Low_Fare', 'Pclass_2_High_Fare', 'Pclass_3_Low_Fare',
        'Pclass_3_High_Fare']))
combined_train_test['Pclass_Fare_Category'] = p_fare.transform(combined_train_test['Pclass_Fare_Category'])

Pclass
1    34.661682
2    11.663652
3     7.379203
Name: Fare, dtype: float64
Pclass_Fare_Category
Pclass_3_High_Fare    432
Pclass_3_Low_Fare     277
Pclass_1_Low_Fare     209
Pclass_2_High_Fare    155
Pclass_2_Low_Fare     122
Pclass_1_High_Fare    114
Name: Pclass_Fare_Category, dtype: int64

In [22]:
# 6. Parch and SibSp
combined_train_test['Family_Size'] = combined_train_test['Parch'] + combined_train_test['SibSp'] + 1
combined_train_test['Family_Size_Category'] = combined_train_test['Family_Size'].map(family_size_category)

le_family = LabelEncoder()
le_family.fit(np.array(['Single', 'Small_Family', 'Large_Family']))
combined_train_test['Family_Size_Category'] = le_family.transform(combined_train_test['Family_Size_Category'])

fam_size_cat_dummies_df = pd.get_dummies(combined_train_test['Family_Size_Category'],
                                            prefix=combined_train_test[['Family_Size_Category']].columns[0])
combined_train_test = pd.concat([combined_train_test, fam_size_cat_dummies_df], axis=1)
print(combined_train_test['Family_Size_Category'].groupby(by = combined_train_test['Family_Size_Category']).count().sort_values(ascending = False))

Family_Size_Category
1    790
2    394
0    125
Name: Family_Size_Category, dtype: int64

In [23]:
# 7. Age
# 填充Age中的NaN值
combined_train_test['Age_Null'] = combined_train_test['Age'].apply(lambda x: 1 if pd.notnull(x) else 0)

missing_age_df = pd.DataFrame(
    combined_train_test[['Age', 'Parch', 'Sex', 'SibSp', 'Family_Size', 'Family_Size_Category',
                            'Title', 'Fare', 'Fare_Category', 'Pclass', 'Embarked']])
missing_age_df = pd.get_dummies(missing_age_df,columns=['Title', 'Family_Size_Category', 'Fare_Category', 'Sex', 'Pclass','Embarked'])
missing_age_train = missing_age_df[missing_age_df['Age'].notnull()]
missing_age_test = missing_age_df[missing_age_df['Age'].isnull()]
combined_train_test.loc[(combined_train_test.Age.isnull()), 'Age'] = fill_missing_age(missing_age_train, missing_age_test)
print(combined_train_test.describe())

Fitting 10 folds for each of 1 candidates, totalling 10 fits
[Parallel(n_jobs=25)]: Using backend LokyBackend with 25 concurrent workers.
[Parallel(n_jobs=25)]: Done   5 out of  10 | elapsed:    6.0s remaining:    6.0s
[Parallel(n_jobs=25)]: Done  10 out of  10 | elapsed:    6.1s finished
D:\Users\WYG\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
Age feature Best GB Params:{'learning_rate': 0.01, 'max_depth': 3, 'max_features': 3, 'n_estimators': 2000}
Age feature Best GB Score:-112.55495379252793
GB Train Error for "Age" Feature Regressor:-91.33225559467515
5     33.501856
17    33.285687
19    33.233397
26    26.619434
Name: Age_GB, dtype: float64
Fitting 10 folds for each of 1 candidates, totalling 10 fits
D:\Users\WYG\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
[Parallel(n_jobs=25)]: Using backend LokyBackend with 25 concurrent workers.
[Parallel(n_jobs=25)]: Done   5 out of  10 | elapsed:    2.5s remaining:    2.5s
[Parallel(n_jobs=25)]: Done  10 out of  10 | elapsed:    2.6s finished
D:\Users\WYG\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
D:\Users\WYG\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
Age feature Best LR Params:{'fit_intercept': True, 'normalize': True}
Age feature Best LR Score:-119.4968137871445
LR Train Error for "Age" Feature Regressor-114.48313692510251
5     34.625000
17    33.753906
19    31.093750
26    26.921875
Name: Age_LRF, dtype: float64
shape1 (263,) (263, 2)
D:\Users\WYG\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Users\WYG\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
5     29.581157
17    29.581157
19    29.581157
26    29.581157
Name: Age, dtype: float64
               Age         Fare        Parch  PassengerId       Pclass  \
count  1309.000000  1309.000000  1309.000000  1309.000000  1309.000000
mean     29.820867    15.017884     0.385027   655.000000     2.294882
std      12.883754    13.529548     0.865560   378.020061     0.837836
min       0.170000     3.170800     0.000000     1.000000     1.000000
25%      22.000000     7.666667     0.000000   328.000000     2.000000
50%      29.581157     8.300000     0.000000   655.000000     3.000000
75%      35.000000    15.050000     0.000000   982.000000     3.000000
max      80.000000   128.082300     9.000000  1309.000000     3.000000

             SibSp     Survived   Embarked_C   Embarked_Q   Embarked_S  ...  \
count  1309.000000  1309.000000  1309.000000  1309.000000  1309.000000  ...
mean      0.498854     0.261268     0.206264     0.093965     0.699771  ...
std       1.041658     0.439494     0.404777     0.291891     0.458533  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
50%       0.000000     0.000000     0.000000     0.000000     1.000000  ...
75%       1.000000     1.000000     0.000000     0.000000     1.000000  ...
max       8.000000     1.000000     1.000000     1.000000     1.000000  ...

       Fare_Category_2  Fare_Category_3  Fare_Category_4  \
count      1309.000000      1309.000000      1309.000000
mean          0.311688         0.030558         0.003056
std           0.463360         0.172182         0.055216
min           0.000000         0.000000         0.000000
25%           0.000000         0.000000         0.000000
50%           0.000000         0.000000         0.000000
75%           1.000000         0.000000         0.000000
max           1.000000         1.000000         1.000000

       Pclass_Fare_Category  Family_Size  Family_Size_Category  \
count           1309.000000  1309.000000           1309.000000
mean               3.054240     1.883881              1.205500
std                1.648173     1.583639              0.595421
min                0.000000     1.000000              0.000000
25%                2.000000     1.000000              1.000000
50%                4.000000     1.000000              1.000000
75%                4.000000     2.000000              2.000000
max                5.000000    11.000000              2.000000

       Family_Size_Category_0  Family_Size_Category_1  Family_Size_Category_2  \
count             1309.000000             1309.000000             1309.000000
mean                 0.095493                0.603514                0.300993
std                  0.294007                0.489354                0.458865
min                  0.000000                0.000000                0.000000
25%                  0.000000                0.000000                0.000000
50%                  0.000000                1.000000                0.000000
75%                  0.000000                1.000000                1.000000
max                  1.000000                1.000000                1.000000

          Age_Null
count  1309.000000
mean      0.799083
std       0.400839
min       0.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       1.000000

[8 rows x 2256 columns]

In [24]:
#检查是否有异常值
if sum(n<0 for n in combined_train_test.Age.values.flatten()) > 0:
    combined_train_test.loc[combined_train_test.Age < 0,'Age'] = np.nan
    combined_train_test['Age'] = combined_train_test[['Age']].fillna(combined_train_test.groupby('Title').transform('mean'))
print(combined_train_test['Age'].groupby(by=combined_train_test['Title']).mean().sort_values(ascending=True))

# 建立Age_Category
combined_train_test['Age_Category'] = combined_train_test['Age'].map(age_group_category)
le_age = LabelEncoder()
le_age.fit(np.array(['Baby','Toddler','Child','Teenager','Adult','Middle_Aged','Senior_Citizen','Old']))
combined_train_test['Age_Category'] = le_age.transform(combined_train_test['Age_Category'])
age_cat_dummies_df = pd.get_dummies(combined_train_test['Age_Category'],
                                    prefix=combined_train_test[['Age_Category']].columns[0])
combined_train_test = pd.concat([combined_train_test,age_cat_dummies_df],axis=1)

Title
Master      8.643103
Miss       23.281099
Mr         31.631154
Mrs        35.846362
Royalty    41.166667
Officer    45.547007
Name: Age, dtype: float64

In [25]:
#8. Ticket
combined_train_test['Ticket_Letter'] = combined_train_test['Ticket'].str.split().str[0]
combined_train_test['Ticket_Letter'] = combined_train_test['Ticket_Letter'].apply(lambda x:np.nan if x.isnumeric() else x)
combined_train_test['Ticket_Number'] = combined_train_test['Ticket'].apply(lambda x: pd.to_numeric(x,errors='coerce'))
combined_train_test['Ticket_Number'].fillna(0,inplace=True)
combined_train_test = pd.get_dummies(combined_train_test,columns=['Ticket','Ticket_Letter'])
print(combined_train_test.shape)

(1309, 3253)

In [26]:
#9. Cabin
combined_train_test['Cabin_Letter'] = combined_train_test['Cabin'].apply(lambda x:str(x)[0] if pd.notnull(x) else x)
combined_train_test = pd.get_dummies(combined_train_test,columns=['Cabin','Cabin_Letter'])
print(combined_train_test.shape)

(1309, 3446)

In [27]:
#10. 将Age和Fare正则化
scale_age_fare = preprocessing.StandardScaler().fit(combined_train_test[['Age','Fare']])
combined_train_test[['Age','Fare']] = scale_age_fare.transform(combined_train_test[['Age','Fare']])

In [28]:
#11. 弃掉无用列
combined_train_test.drop(['Name', 'PassengerId', 'Embarked', 'Sex', 'Title', 'Fare_Category',
                    'Family_Size_Category', 'Age_Category', 'First_Name', 'Last_Name',
                    'Original_Name', 'Name_length_Category'],axis=1,inplace=True)
print(combined_train_test.describe())

Age          Fare        Parch       Pclass        SibSp  \
count  1.309000e+03  1.309000e+03  1309.000000  1309.000000  1309.000000
mean  -3.906401e-16 -7.667239e-17     0.385027     2.294882     0.498854
std    1.000382e+00  1.000382e+00     0.865560     0.837836     1.041658
min   -2.302295e+00 -8.759798e-01     0.000000     1.000000     0.000000
25%   -6.072652e-01 -5.435530e-01     0.000000     2.000000     0.000000
50%   -1.861265e-02 -4.967240e-01     0.000000     3.000000     0.000000
75%    4.021431e-01  2.374692e-03     0.000000     3.000000     1.000000
max    3.896249e+00  8.360045e+00     9.000000     3.000000     8.000000

          Survived   Embarked_C   Embarked_Q   Embarked_S   Sex_female  ...  \
count  1309.000000  1309.000000  1309.000000  1309.000000  1309.000000  ...
mean      0.261268     0.206264     0.093965     0.699771     0.355997  ...
std       0.439494     0.404777     0.291891     0.458533     0.478997  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
50%       0.000000     0.000000     0.000000     1.000000     0.000000  ...
75%       1.000000     0.000000     0.000000     1.000000     1.000000  ...
max       1.000000     1.000000     1.000000     1.000000     1.000000  ...

          Cabin_G6      Cabin_T  Cabin_Letter_A  Cabin_Letter_B  \
count  1309.000000  1309.000000     1309.000000     1309.000000
mean      0.003820     0.000764        0.016807        0.049656
std       0.061709     0.027639        0.128596        0.217317
min       0.000000     0.000000        0.000000        0.000000
25%       0.000000     0.000000        0.000000        0.000000
50%       0.000000     0.000000        0.000000        0.000000
75%       0.000000     0.000000        0.000000        0.000000
max       1.000000     1.000000        1.000000        1.000000

       Cabin_Letter_C  Cabin_Letter_D  Cabin_Letter_E  Cabin_Letter_F  \
count     1309.000000     1309.000000     1309.000000     1309.000000
mean         0.071811        0.035141        0.031322        0.016043
std          0.258273        0.184207        0.174252        0.125688
min          0.000000        0.000000        0.000000        0.000000
25%          0.000000        0.000000        0.000000        0.000000
50%          0.000000        0.000000        0.000000        0.000000
75%          0.000000        0.000000        0.000000        0.000000
max          1.000000        1.000000        1.000000        1.000000

       Cabin_Letter_G  Cabin_Letter_T
count     1309.000000     1309.000000
mean         0.003820        0.000764
std          0.061709        0.027639
min          0.000000        0.000000
25%          0.000000        0.000000
50%          0.000000        0.000000
75%          0.000000        0.000000
max          1.000000        1.000000

[8 rows x 3434 columns]

In [29]:
#12. 整理数据
train_data = combined_train_test[:891]
test_data = combined_train_test[891:]

titanic_train_data_X = train_data.drop(['Survived'],axis=1)
titanic_train_data_Y = train_data['Survived']

titanic_test_data_X = test_data.drop(['Survived'],axis=1)

In [30]:
#13. 利用特征值重要性排名来去除无用列
feature_to_pick = 250
feature_top_n = get_top_n_features(titanic_train_data_X,titanic_train_data_Y,feature_to_pick)

Fitting 10 folds for each of 2 candidates, totalling 20 fits
[Parallel(n_jobs=25)]: Using backend LokyBackend with 25 concurrent workers.
[Parallel(n_jobs=25)]: Done  13 out of  20 | elapsed:   12.5s remaining:    6.7s
[Parallel(n_jobs=25)]: Done  20 out of  20 | elapsed:   15.2s finished
Top N Features Best RF Params:{'max_depth': 20, 'min_samples_split': 2, 'n_estimators': 500}
Top N Features Best RF Score:0.835016835016835
Top N Features RF Train Error:0.936026936026936
Sample 25 Features from RF Classifier
9                     Sex_male
8                   Sex_female
12                    Title_Mr
16                 Name_Length
1                         Fare
2245      Pclass_Fare_Category
11                  Title_Miss
13                   Title_Mrs
3                       Pclass
0                          Age
2259             Ticket_Number
2246               Family_Size
2241           Fare_Category_1
17      Name_length_Category_0
2249    Family_Size_Category_2
4                        SibSp
2                        Parch
18      Name_length_Category_1
2248    Family_Size_Category_1
7                   Embarked_S
20      Name_length_Category_3
5                   Embarked_C
2242           Fare_Category_2
19      Name_length_Category_2
3429            Cabin_Letter_E
Name: feature, dtype: object
Fitting 10 folds for each of 2 candidates, totalling 20 fits
[Parallel(n_jobs=25)]: Using backend LokyBackend with 25 concurrent workers.
[Parallel(n_jobs=25)]: Done  13 out of  20 | elapsed:  1.3min remaining:   41.6s
[Parallel(n_jobs=25)]: Done  20 out of  20 | elapsed:  1.6min finished
Top N Features Best Ada Params:{'learning_rate': 0.5, 'n_estimators': 500}
Top N Features Best Ada Score:0.8439955106621774
Top N Features Ada Train Error:1.0
Sample 25 Feature from Ada Classifier:
2259             Ticket_Number
1                         Fare
9                     Sex_male
8                   Sex_female
16                 Name_Length
2364               Ticket_1601
12                    Title_Mr
10                Title_Master
0                          Age
7                   Embarked_S
3231      Ticket_Letter_STON/O
3                       Pclass
2246               Family_Size
2249    Family_Size_Category_2
2245      Pclass_Fare_Category
14               Title_Officer
13                   Title_Mrs
3235       Ticket_Letter_W./C.
3318             Cabin_C22 C26
54          First_Name_Asplund
409         First_Name_Jussila
506           First_Name_Mamee
2257            Age_Category_6
74          First_Name_Barbara
3063           Ticket_PC 17572
Name: feature, dtype: object
Fitting 10 folds for each of 2 candidates, totalling 20 fits
[Parallel(n_jobs=25)]: Using backend LokyBackend with 25 concurrent workers.
[Parallel(n_jobs=25)]: Done  13 out of  20 | elapsed:   10.8s remaining:    5.8s
[Parallel(n_jobs=25)]: Done  20 out of  20 | elapsed:   12.4s finished
Top N Features Best ET Params:{'max_depth': 15, 'min_samples_split': 3, 'n_estimators': 500}
Top N Features Best ET Score:0.8327721661054994
Top N Features ET Train Error:0.9180695847362514
Sample 25 Features from ET Classifier:
8                   Sex_female
12                    Title_Mr
9                     Sex_male
11                  Title_Miss
13                   Title_Mrs
3                       Pclass
2241           Fare_Category_1
2245      Pclass_Fare_Category
2249    Family_Size_Category_2
17      Name_length_Category_0
16                 Name_Length
18      Name_length_Category_1
2248    Family_Size_Category_1
1                         Fare
2242           Fare_Category_2
20      Name_length_Category_3
7                   Embarked_S
3426            Cabin_Letter_B
19      Name_length_Category_2
3429            Cabin_Letter_E
2246               Family_Size
5                   Embarked_C
3428            Cabin_Letter_D
3211          Ticket_Letter_PC
2252            Age_Category_1
Name: feature, dtype: object

In [31]:
print('Total Feature:'+str(combined_train_test.shape))
print('Picked Feature'+str(feature_top_n.shape))

titanic_train_data_X = titanic_train_data_X[feature_top_n]
del titanic_train_data_X['Ticket_Number']
titanic_test_data_X = titanic_test_data_X[feature_top_n]
del titanic_test_data_X['Ticket_Number']

Total Feature:(1309, 3434)
Picked Feature(438,)

In [32]:
#14.建立模型
rf_est = ensemble.RandomForestClassifier(n_estimators = 750, criterion = 'gini', max_features = 'sqrt',
                                            max_depth = 3, min_samples_split = 4, min_samples_leaf = 2,
                                            n_jobs = 50, random_state = 42, verbose = 1)
gbm_est = ensemble.GradientBoostingClassifier(n_estimators=900, learning_rate=0.0008, loss='exponential',
                                                min_samples_split=3, min_samples_leaf=2, max_features='sqrt',
                                                max_depth=3, random_state=42, verbose=1)
et_est = ensemble.ExtraTreesClassifier(n_estimators=750, max_features='sqrt', max_depth=35, n_jobs=50,
                                        criterion='entropy', random_state=42, verbose=1)

voting_est = ensemble.VotingClassifier(estimators = [('rf', rf_est),('gbm', gbm_est),('et', et_est)],
                                    voting = 'soft', weights = [4,0,4],
                                    n_jobs = 50)
voting_est.fit(titanic_train_data_X,titanic_train_data_Y)
print('VotingClassifier Score:' + str(voting_est.score(titanic_train_data_X,titanic_train_data_Y)))
print('VotingClassifier Estimators:' + str(voting_est.estimators_))

[Parallel(n_jobs=50)]: Using backend ThreadingBackend with 50 concurrent workers.
[Parallel(n_jobs=50)]: Done 100 tasks      | elapsed:    0.0s
[Parallel(n_jobs=50)]: Done 350 tasks      | elapsed:    0.0s
[Parallel(n_jobs=50)]: Done 750 out of 750 | elapsed:    0.1s finished
[Parallel(n_jobs=50)]: Using backend ThreadingBackend with 50 concurrent workers.
[Parallel(n_jobs=50)]: Done 100 tasks      | elapsed:    0.0s
[Parallel(n_jobs=50)]: Done 350 tasks      | elapsed:    0.0s
[Parallel(n_jobs=50)]: Done 750 out of 750 | elapsed:    0.1s finished
VotingClassifier Score:0.9966329966329966
VotingClassifier Estimators:[RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=3, max_features='sqrt', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=4,
                       min_weight_fraction_leaf=0.0, n_estimators=750,
                       n_jobs=50, oob_score=False, random_state=42, verbose=1,
                       warm_start=False), GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.0008, loss='exponential',
                           max_depth=3, max_features='sqrt',
                           max_leaf_nodes=None, min_impurity_decrease=0.0,
                           min_impurity_split=None, min_samples_leaf=2,
                           min_samples_split=3, min_weight_fraction_leaf=0.0,
                           n_estimators=900, n_iter_no_change=None,
                           presort='auto', random_state=42, subsample=1.0,
                           tol=0.0001, validation_fraction=0.1, verbose=1,
                           warm_start=False), ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='entropy',
                     max_depth=35, max_features='sqrt', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=750, n_jobs=50,
                     oob_score=False, random_state=42, verbose=1,
                     warm_start=False)]

In [33]:
#预测
titanic_test_data_X['Survived'] = voting_est.predict(titanic_test_data_X)

submission = pd.DataFrame({'PassengerId':test_data_org.loc[:,'PassengerId'],
                            'Survived':titanic_test_data_X.loc[:,'Survived']})

submission.to_csv('result4.csv',index=False,sep=',')

[Parallel(n_jobs=50)]: Using backend ThreadingBackend with 50 concurrent workers.
[Parallel(n_jobs=50)]: Done 100 tasks      | elapsed:    0.0s
[Parallel(n_jobs=50)]: Done 350 tasks      | elapsed:    0.0s
[Parallel(n_jobs=50)]: Done 750 out of 750 | elapsed:    0.0s finished
[Parallel(n_jobs=50)]: Using backend ThreadingBackend with 50 concurrent workers.
[Parallel(n_jobs=50)]: Done 100 tasks      | elapsed:    0.0s
[Parallel(n_jobs=50)]: Done 350 tasks      | elapsed:    0.0s
[Parallel(n_jobs=50)]: Done 750 out of 750 | elapsed:    0.0s finished